extends layout

block content
    h1= "Admin"
    a(href='admin/getToken') getToken
    p
    a(href='admin/createChannel') createChannel
    p
    a(href='admin/joinChannel') joinChannel
    p
    a(href='admin/installChaincode') installChaincode
    p
    a(href='admin/instantiateChaincode') instantiateChaincode
